  <footer>
    <section class="page-width-wrap">
      <p>
      All content by Reflex Creations and contributors unless mentioned otherwise, available under a <em>licence goes here</em> <a href="https://example.com/license">licence</a>.
      </p>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          {{ if 0}}
          <li><a href="/build">Build instructions</a></li>
          <li><a href="/downloads">Downloads</a></li>
          <li><a href="/materials">Materials</a></li>
          <li><a href="/contact">Contact / FAQ</a></li>
          <li><a href="/disclaimer">Disclaimer</a></li>
          {{ end }}
        </ul>
      </nav>
      <p class="credit">Website design/build by <a href="https://michd.me">MichD</a>.</p>
    </section>
  </footer>
  </body>
</html>
