<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
    <title>RE:Flex Dance</title><!-- TODO page title from template -->
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/styles.css">
  </head>
  <body>
    <header>
      <div class="page-width-wrap">
        <a id="main-logo" href="{{ .Site.BaseURL }}/"><!--
        --><img src="{{ .Site.BaseURL }}/img/reflex-dance-logo-color.svg" alt="RE:Flex Dance logo"><!--
     --></a>{{ if 0 }}<!--
     --><input type="checkbox" id="reveal-menu"><!--
     --><label id="menu-toggle" for="reveal-menu"><!--
       --><svg version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
             <path d="m0 0v20h100v-20zm0 40v20h100v-20zm0 40v20h100v-20z"/>
          </svg><!--
    --></label><!--
    --><nav><ul><!--
    --><li><a href="/build">Build Instructions</a></li><!--
      --><li><a href="/downloads">Downloads</a></li><!--
      --><li><a href="/materials">Materials</a></li><!--
      --><li><a href="/contact">Contact</a></li><!--
    --></ul></nav>{{ end }}<!--
    --></div>
    </header>
