{{ partial "header.html" }}

<section role="document" class="page-width-wrap">
  <article>
    <h1>Heading one</h1>
    <p>A parapgraph. Here's where we would start writing some actual text.
    how about a bit of <strong>bold</strong>? What about some <em>emphasis</em>?
    </p>
    <h2>Heading two</h2>
    <p>Maybe another paragraph is in order. I can waffle on about nothing in
    particular a bit longer to see what it looks like across several lines.
    See I could just grab some lorem ipsum text but that's so tired. Anyhow, 
    in this paraphraph we should test something else; you might wonder what I
    have in mind. Wonder no more, I'm thinking <a href="#foo">links</a>. How about
    that? <a href="https://example.com/nope"><strong>Here's a bold link.</strong></a>
    <h3>Heading three</h3>
    <p>Filler filler filler</p>
    <p>Two paragraphs, in a row. Marvelous.</p>
    <h4>Heading four</h4>
    <p>Jibber jabber.</p>
    <h5>Heading five</h5>
    <p>Fine. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <h6>Heading six</h6>
    <p>That's all the headings we have time for / exist in HTML. I guess we
    should throw a horizontal rule under that because those are fun too. Then
    we'll go on to lists.</p>
    <hr>
    <h1>Lists!</h1>
    <ul>
      <li>Unordered list item one</li>
      <li>Unordered list item two</li>
      <li>Unordered list item three</li>
      <li>Unordered list item four</li>
    </ul>

    <p>That one was unordered, also known as a bulleted list. Next up, ordered,
    also known as numbered list.</p>

    <ol>
      <li>List item one</li>
      <li>List item two</li>
      <li>List item three</li>
      <li>List item four</li>
    </ol>

    <p>Now how do they nest?</p>
    
    <ul>
      <li>Plain item</li>
      <li>Item with text, then sub-list
        <ul>
          <li>Sublist item 1</li>
          <li>Sublist item 2</li>
          <li>Sublist item 3</li>
        </ul>
      </li>
      <li>Plain item following a sublist</li>
      <li>Another plain item for good measure</li>
      <li>
        <ul>
          <li>Immediate sublist item 1</li>
          <li>Immediate sublist item 2</li>
          <li>Immediate sublist item 3</li>
        </ul>
      </li>
      <li>Plain item following a sublist</li>
      <li>And another</li>
    </ul>

    <p>Let's repeat the same with ordered lists.</p>

    <ol>
      <li>Plain item</li>
      <li>Item with text, then sub-list
        <ol>
          <li>Sublist item 1</li>
          <li>Sublist item 2</li>
          <li>Sublist item 3</li>
        </ol>
      </li>
      <li>Plain item following a sublist</li>
      <li>Another plain item for good measure</li>
      <li>
        <ol>
          <li>Immediate sublist item 1</li>
          <li>Immediate sublist item 2</li>
          <li>Immediate sublist item 3</li>
        </ol>
      </li>
      <li>Plain item following a sublist</li>
      <li>And another</li>
    </ol>
  </article>
  <article>
    <h1>Article two</h1>
    <p>This article is just here in case we want to show more than one in a row
    and have it look good, too.</p>
    <p>
      <img src="http://placekitten.com/400">
    </p>

    <table>
      <thead>
        <tr>
          <th>Heading 1</th>
          <th>Heading 2</th>
          <th>Heading 3</th>
          <th>Heading 4</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Foo</td>
          <td>Bar</td>
          <td>Alice</td>
          <td>Bob</td>
        </tr>
        <tr>
          <td>Bob</td>
          <td>Foo</td>
          <td>Bar</td>
          <td>Alice</td>
        </tr>
        <tr>
          <td>Alice</td>
          <td>Bob</td>
          <td>Foo</td>
          <td>Bar</td>
        </tr>
        <tr>
          <td>Bar</td>
          <td>Alice</td>
          <td>Bob</td>
          <td>Foo</td>
        </tr>
      </tbody>
    </table>
  </article>
</section>

{{ partial "footer.html" }}
